* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  height: 100vh;
  background-image: url(../imgs/close-up-hand-writing-notebook-top-view.jpg);
  background-size: cover;
  background-position: bottom center;
}
main .image {
  width: 6rem;
  height: 6rem;
}
main a {
  transform: translateY(50%);
  transition: 0.2s !important;
}
main a:hover {
  background-color: rgba(255, 255, 255, 0.685) !important;
  color: #212529 !important;
  border: none;
  transform: translateY(55%);
}
main h2 {
    font-family: "Whisper", cursive;
  font-weight: 700 !important;
}
img{
    width: 6rem !important;
  height: 6rem !important;
}